# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
client/.env
server/.env

# Build outputs
client/dist/
server/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server/logs/

# Prisma
# server/prisma/migrations/ # Uncomment if you don't want to track migrations

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
